.same-size-thumbnail {
    position: relative;
    width:  250px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    overflow: hidden;
    border: transparent;
}

.right {
  text-align: right;
  margin-left: auto;
}

.left {
  text-align: left;
  margin-right: auto;
}

.center {
  text-align: center;
}

.black {
  color: #000000;
}

.index-thumbnail-container {
  height: 300px;
}

.index-thumbnail-container img {
  width: auto;
  height: 100%;
}
