.same-size-thumbnail {
    position: relative;
    width:  250px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    overflow: hidden;
    border: transparent;
}

.right {
  text-align: right;
  margin-left: auto;
}

.left {
  text-align: left;
  margin-right: auto;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.black {
  color: #000000;
}

.index-thumbnail-container {
  height: 300px;
}

.index-thumbnail-container img {
  width: auto;
  height: 100%;
}

.small-money-logo {
  width: 50px;
  height: 50px;
}

::placeholder {
  color: rgb(210, 210, 210);
}

.aa-input-label {
  margin-bottom: 2px;
}

.wide {
  margin: 100px;
}

.footer {
  margin-right: 10px;
  position: fixed;
  bottom: 0;
  right: 10px;
}

.more-pad {
  margin-bottom: 20px;
}

